#game-wrapper{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game-wrapper-welcome{
    color: #61C604;
}

#game-area{
    min-height: 300px;
    width: 50%;
    border: 2px solid white;
    margin-top: 20px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#play-game{
    background-color: transparent;
    font-size: 1.4em;
    color: #61C604;
    transition: 0.3s;
    outline: none;
    border: none;
}
#play-game:hover{
    transition: 0.3s;
    cursor: pointer;
    border-bottom: 2px solid #499205;
}

#container-div{
    height: 100%;
    width: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

#definition{
    font-style: italic;
}
#submit-bundle{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#answer{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    text-align: center;
}
#quiz-submit{
    border: none;
    background-color: transparent;
    border: 1px solid white;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
}

#quiz-submit:hover{
    cursor: pointer;
}

#answer-check{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
}
#wrong-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#wrong-message{
    color: rgba(255, 0, 0, 0.753)
}
#another-question{
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.2s;
    font-size: 1.2em;
}

#another-question:hover{
    cursor:pointer;
    transition: 0.2s;
    border-bottom: 1px solid white;
}

#success-message{
    color: #61C604;   
}