#stock-info-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 5% 5% 5%;
}
#reccomendation{
    margin-top: 3%;
    text-align: center;
    font-size: 1.4em;
}
.info{
    text-align: center;
    padding: 10px;
    font-weight: normal;
}
.info:hover{
    cursor: default;
}

.blurb{
    position: absolute;
    height: 50px;
    background-color: rgba(85, 84, 84, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blurb-text{
    text-align: center;;
}