*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}
body{
    background-color: black;
}
#navbar{
    margin: 20px;
    height: 5vh;
    display: flex;
    font-size: 1.2em;
    justify-content: space-evenly;
    
}
.link{
    color: #61C604; 
    transition: 0.2s;
}
.link:hover{
    color: #499205; 
    transition: 0.2s;
}
#right-links{
    display: flex;
    justify-content: space-between;
}
.nav-elem{
    padding: 10px;
    color: #61C604;
}
#content-wrapper{
    background-color: black;
    height: 100%;
}
#welcome-wrapper{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome-text{
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-size: 1.6em;
}
#welcome-main{
    text-align: center;
    margin: 10px;
    color: #61C604;
}
#welcome-secondary{
    color: #61C604;
    text-align: center;
    font-style: italic;
}

#features-wrapper{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#features-intro{
    text-align: center;
    width: 80%;
}

a{
    text-decoration: none;
}


#stock-content-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#stock-title{
    margin-top: 5%;
}
#stock-welcome{
    color: #61C604;
    text-align: center;
}
#stock-secondary{
    color: #61C604;
    text-align: center;
}
#stock-form{
    display: flex;
    margin: 10px 5%;
    justify-content: center;;
}
#our-analysis-wrapper{
    margin: 10px;
}
#stock-search-container{
    margin-top: 10vh;
}
#stock-search{
    display: inline
}
#stock-input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    font-size: 30px;
    max-width: 100px;
    text-align: center;
}
#stock-input:focus{
    outline: none
}
#stock-submit-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}
#stock-submit{
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
#stock-submit:hover{
    cursor: pointer;
}



#learn-content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#learn-title{
    margin-top: 5%;
}
#learn-welcome{
    color: #61C604;
    text-align: center;
}
#learn-secondary{
    color: #61C604;
    text-align: center;
}