{% extends 'base.html' %}

{% block body %}
<div id = "learn-content-wrapper">
    <div id = "learn-title">
        <h1 id = "learn-welcome">Understand the Metrics Like a Professional</h1>
        <h5 id = "learn-secondary">PE ratio? Debt equity? Delve deeper into the numbers</h5>
    </div>
    <div id= "learn-list">

    </div>
    <div id = "game-wrapper">
        <h3 id = "game-wrapper-welcome">Test your knowledge of the terms on this quiz!</h3>
        <div id = "game-area">
            
        </div>
    </div>
</div>
<script src = "{{url_for('static', filename='javascript/game.js')}} "
{% endblock %}