{% extends 'base.html' %}

{%block body%}
<div id = "content-wrapper">
    <div id = "welcome-wrapper">
        <div id = "welcome-text">
            <h1 id = "welcome-main">Welcome to Green View</h1>
            <h5 id = "welcome-secondary">A platform to bring your investing to another level</h5>
        </div>
    </div>
    <div id = "features-wrapper">
        <div id = "features-intro">
            <h1 id = "feautres-main">Features: </h1>
            <p id = "features-sub-text"><a href= "/stocks">Look up stocks</a>, <a href = "/learn">learn more about investing</a>, or <a href = "/trends">see market trends</a></p>
        </div>
    </div>
</div>
{% endblock %}